include header

div(class='wrap')
    div(class='content')
        header(class='site-header')
            include site-header

        div(class='container')
            div(class='row')
                each val2, index2 in cat
                    div(class="col col-lg-12")
                        h2(class="main-style")
                            a(
                                href='/cat?id='+val2['id']
                            )   #{val2['category']}

                    each val, index in goods
                        if val2['id'] == val['category']
                            include card
    include navigation
    include footer