div(
    class="site-navigation button-primary"
)
    div(class="close-button-div")
        button(class='button-primary-outlined close-navigation') x
    h3(class="cart-header") Категории товаров:
    div(id="category-list")
    h3(class="cart-header") Корзина:
    div(id="cart-navigation")
    div(class='text-right')
        a(
            href="/order"
            target="_blank"
        )
            button(class="order-button") Заказать